/*
few styles specifically for projects
*/
.projh1{
    opacity: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 5vw;
    font-family: 'Oswald', sans-serif;
    margin:2% auto;
    animation: 1.2s ease 0.5s 1 normal forwards running chym;
}
main{
    position: relative;
    top: 20%;
}
.projectcontainer{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap;
}
.projectcontent{
    width: 30%;
    margin:5% auto;
    border: 0.1px dotted #6b060e9c;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
    background-color: rgba(206, 72, 20, 0.5);
}
.part1{
    opacity: 0;
    margin: 0 auto;
    font-size: 20px;
    animation: 1.2s ease 0.5s 1 normal forwards running mons;
}
.part2{
    opacity: 0;
    margin: 0 auto;
    animation: 1.2s ease 0.5s 1 normal forwards running chym;
    margin-top: 2%;
    padding: 3%;
}
.ppp{
    justify-content: center;
    align-items: center;
}
.imglink{
    width: 100%;
    height: auto;
    padding: 10%;
    min-height: fit-content;
    background-color: rgba(110, 19, 19, 0.5);
}
.h2{
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
    font-weight: bolder;
}
.propp{
    font-size: 2vw;
}
@media(max-width:700px){
    main{
        position: relative;
    }
    .projectcontainer{
        display: block;
        max-width: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .projectcontent{
        width: 80%;
        margin: 3% auto;
        align-items: center;
    }
    .part1{
        width: 100%;
        margin: 10px auto;
        box-sizing: border-box;
    }
    .part2{
        width: 100%;
        margin: 10px auto;
        box-sizing: border-box;
    }
    .h2{
        font-family: 'Oswald', sans-serif;
        font-size: 4vw;
        font-weight: bolder;
    }
    .propp{
        font-size: 3.5vw;
    }
}




