/*
style for reviews.html
*/
body{
    text-align: center;
}
.revh1{
    opacity: 0;
    font-size: 4vw;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 20px;
    animation: 1.2s ease 0.5s 1 normal forwards running mons;
}