/* portfolio
- general style 
- added this to other pages not excluding the index.html page
*/

/*default style for elements that werent styled */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* html content to have at least the height of 100% so the footer sticks to the bottom of the page */
html{
    height: 100%;
}

/* style for body which contains every visible part of the document */
body{
    background-color: #ffe2e2;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

/* getting rid of all default decorations on the anchor tags */
a:hover{
    text-decoration: none;
}
/* removed the default padding on the bootstrap container fluid class */
.container-fluid{
    padding: 0;
}
.fas{
    color: #da201a;
}
a{
    text-decoration: none;
    color: rgb(189, 33, 64);
}
/* NAVA - NAVBAR COLLAPSE CONTENT */
.nava{
    text-align: center;
    z-index: 3;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
/* UL AND LI OF THE NAVBAR */
.navbar-nav .nav-item:hover{
    transform: translateY(5px);
}
/* EVERYTHING IN THE NAVIGATION */
.navbar{
    margin:0;
    font-size: 20px;
    font-family: 'Jaldi', sans-serif;
}
/* STYLE SPECIFICS OF THE LINK WITHIN THE NAV-ITEMS */
ul li .nav-link{
    color: #05060e;
    margin: 0 20px;
}

ul li .aa:hover{
    color: #57073ca0;
    text-decoration: none;
    border-bottom: 4px solid #580404f8;
}
/* CHANGING THE COLOR OF ACTIVE PAGES TO MAKE THEM STAND OUT*/
ul .active .nav-link{
    color: #cf4217;
    text-decoration: none;
}
/* MAIN SECTION OF THE INDEX.HTML PAGE CONTAINING A FEW DETAILS */
.section{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* CONTAINER FOR MY FIRST AND LAST NAMES*/
#sect{
    display: flex;
}
/* FIRST NAME STYLES */ 
#chy{
    opacity: 0;
    color:rgba(60,60,60,0.9);
    animation: 1.2s ease 0.5s 1 normal forwards running chym;
    text-shadow: 2px 1px 2px rgba(200,20,20,0.9);
}
/* LAST NAME STYLES */
#muo{
    text-shadow: 3px 2px 2px rgba(60,60,60,0.9);
    opacity: 0;
    color:rgba(200,20,20,0.9);
    animation: 1.2s ease 0.5s 1 normal forwards running mons;
}
/* FRONT-END DEVELOPER STYLES */
.deve{
    opacity:0;
    color:rgb(50,50,50);
    font-family: 'Tangerine', cursive;
    margin: 1% 3% auto 2%;
    font-size: 4.0vw;
    animation: 1s ease 1.5s 1 normal forwards running dever;
}
/* GENERAL STYLE FOR FIRST NAME AND LAST NAME USING A CLASS */
.h1{
    font-size: 12vw;
    font-family: 'Anton', sans-serif;
    font-weight: 700;
}
/* FOOTER OF PAGES/ GENERAL FOOTER STYLES 
- THE INDEX.HTML PAGE HAS NO FOOTER  */
.footer{
    background-color: #300202e0;
    bottom: 0px;
    left: 0;
    padding: 5px;
    width: 100%;
    margin: 7% 0 0 0;
    max-width: 100%;
    text-align: center;
    color: burlywood;
    height: auto;
}
/* MAKING THE CONTENTS OF P TAGS SPREAD OUT AND REMAIN IN A BLOCK FORM 
ALL EDGES REMAIN STRAIGHT  */
p{
    text-align: justify;
}
/* PARAGRAPHS IN THE FOOTER*/
.footp{
    padding: auto;
    margin: 5px 0;
    text-align: center;
}

/*small and medium sized devices*/
@media(max-width:767px){
    .navbar-collapse{
        position: absolute;
        top: 54px;
        right: 0;
        padding: 15px;
        width: 100%;
        border: none;
    }
    .navbar-collapse .collapsing{
        height: auto;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        right: -100%;
    }
    .navbar-collapse .show{
        left: 0;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.3s ease-in;
    }
    .nava, .navbar-nav{
        display: block;
    }
    .navbar-nav li a{
        background-color: #310404e7;
        border-bottom:1px dotted #f2f2ff75 ;
        z-index: 4;
        margin: 0;
        padding: 3%;
    }    
    
    ul li .nav-link{
        color: #ffe2e2;
        text-decoration: none;
        width: 100%;
        margin: 0;
    }
    ul li .nav-link:hover, ul li .aa:hover{
        color: #ffe2e2a0;
        border: 1px solid #310404;
    }
    ul .active .nav-link{
        color: #e9bed299;
    }
    .navbar-nav .nav-item:hover{
        transform: translateY(0px);
    }
    .lastt{
        width: 100%;
    }
    .h1{
        font-size: 9vw;
    }
    #deve{
        font-size: 2.5vw;
    }
}

/* ANIMATIONS */
@keyframes chym{
    0%{
        transform: translateX(-2000px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes mons{
    0%{
        transform: translateX(2000px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes dever{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.6;
    }
}
@keyframes aa{
    0%{
        transform: translateX(-5px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}